@font: 1em Tahoma, Arial, sans-serif;
@lineHeight: 1.4em;
@mainColor: red;
@headerColor: blue;

html {
    font-size: 125%;
}

body {
    font: @font;
    line-height: @lineHeight;
    color: @mainColor;
    background-color: lighten(@mainColor, 85%);
}

h1 {
    font: @font;
    color: @headerColor
}

ul {
    padding: 0;

    li {
        padding: 10px 0;
        list-style: none;
        border-bottom: 1px lighten(@mainColor, 60%) dotted;
        font: @font;

    }
}